
  @media only screen and (max-width: 414px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }}
  .navbar {
    border-top: 1px solid #c6c6c6;
    background-color: #fff;
    bottom: 0px;
    padding-bottom: 5px;
    position: fixed;
    height: 50px;
    width: 414px;
}