
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    font-size: calc(10px + 2vmin);
    color : #0050A1;
}

input, select, textarea{
    color: #000;
    border : 1px solid #C6C6C6;
    border-radius: 5px;
    padding: 158;
}

.box-priority {
    width: 80%;
    font-size: 12px;
    padding:5px;
    border-radius: 7px;
    margin: 0px auto;
    color:#bebebe;
    border:1px solid #bebebe;
}

.circle-filter{
    position: absolute;
    top:-40px;
    height: 30px;
    width: 100%;
}
.star-bg {
    background:url('./img/star.png');
    background-size: 30px;
    height: 30px;
    filter:grayscale(1);
}
.star-isi {
    background:url('./img/star.png');
    background-size: 30px;
    height: 30px;
    margin-top: -30px;
    filter:grayscale(0);
}
.star-isiReview{
    background:url('./img/star.png');
    background-size: 20px;
    height: 20px;
    margin-top: -20px;
    filter:grayscale(0);
}
.star-bgReview{
background:url('./img/star.png');
    background-size: 20px;
    height: 20px;
    filter:grayscale(1);
}
.content-circle-filter{
    width: 100px;
    height: 80px;
    background-color: #FFF;
    margin: 0px auto;
    border-radius: 50%;
}

.box-apply {
    width: 40%;
    font-size: 16px;
    border-radius: 7px;
    margin: 10px auto;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px;
    background-color:#0050A1;
    border:1px solid #bebebe;
}

.box-priority.active{
    border:1px solid #0050A1;
    color: #fff;
    background-color:#0050A1;
}

.Report {
    padding: 0px 25px;
}

.kotak-input{
    color: #C6C6C6;
    border : 1px solid #C6C6C6;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.input-form-full{
    width: 90%;
    text-align: center;
}

.input-form-textarea{
    width: 90%;
    height: 60px;
    text-align: left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C6C6C6;
}

a {
    text-decoration: none;
}

.container .row{
    margin-bottom: 1rem;
}

.font-small {
    font-size: calc(7px + 1vmin);
    color:black;
    font-weight: 500;
}
.navbar-icon {
    opacity: 0.25;
}

.label {
    text-align: left;
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
}
.label .row{
    color: rgba(0, 0, 0, 0.75);
}

.id-problem-solve{
    width: 20%;
    background-color: #0050A1;
}

.isi-id {
    color:#FFF;
    padding: 15px;
}

.ticket-det {
    background : url(../assets/img/det-ticket.PNG) no-repeat;
    width: 90%;
    height: 80vh;
    background-size: 100%;
}

.detail-problem-solve{
    width: 100%;
    border: 1px solid #0050A1;
    text-align: left;
    padding: 20px;
}

.title-problem-solve {
    width:70%;
    padding-top: 6px;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
    font-size: calc(10px + 4vmin); /* Best Experience for Mobile */
    padding-bottom: 6px;
    border: 1px solid #0050A1;
}

.title-page{
    color: rgba(0,0,0,0.6);
    text-align: left;
    width: 100%;
    font-weight: 700;
    font-size: calc(10px + 10vmin); /* Best Experience for Mobile */
    /*font-size: calc(10px + 7vmin); /* Best Experience for Desktop */
}

.navbar-icon:hover{
    opacity: 1;
}

.navbar-icon.active{
    opacity: 1;
}

.navbar {
    border-top: 1px solid #c6c6c6;
    background-color: #fff;
    bottom: 0px;
    padding-bottom: 5px;
    position: fixed;
    height: 50px;
    width: 414px;
}

.menu-home{
    width: 33.333333%;
}

.isi-menu-home{
    padding: 5px;
    margin: 5px;
}

.menu-service{
    width: 25%;
}
.isi-our-service{
    border:1px solid #c6c6c6;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    margin: 5px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px auto;
}

.button-submit {
    width: 100%;
    padding: 9px;
    font-size: calc(10px + 2vmin);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #0050A1;
    border: none;
}

.greeting {
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    font-size: calc(10px + 7vmin);
}

.nameData {
    width: 60%;
    font-size: calc(10px + 3vmin);
}

.button.loggout {
    background-color: red;
}

.ticket {
    width: 90%;
    height: 160px;
    text-align: center;
    background-image: url('./img/ticket-bg.PNG');
    background-size: cover;
}

.left-ticket {
    width: 60%;
    text-align: left;
}

.queue {
    color: #FF8A00;
    font-weight: 700;
    font-size: calc(10px + 7vmin);
}

.button-detail{
    width: 50%;
    padding: 9px;
    margin: 0 auto;
    font-size: calc(7px + 2vmin);
    text-transform: uppercase;
    font-weight: 500;
    border : 1px solid #FF8A00;
    border-radius: 7px;
    color: #FF8A00;
    background-color: none;
}

.id-ticket{
    font-size: calc(7px + 1vmin);
}

.top {
    text-align: left;
}

.content-ticket {
    padding-top: 5px;
    padding-left: 15px;
}
.right-ticket {
    width: 40%; 
    /* width: 40%;  for mobile*/
}

.title-app{
    margin: 5px auto;
    padding-top: 10px;
    font-size: calc(10px + 4vmin);
    font-weight: 700;
    color : rgba(0, 0, 0, 0.6);
}

.title-pages{
    font-size: calc(10px + 4vmin);
    color: #fff;
    font-weight: 500;
    margin:0 auto;
    text-align: center;
}

.back-button {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    box-sizing: border-box;
    position: absolute;
    margin-left: 20px;
}

.version-app {
    margin: 15px auto;
    font-size: calc(10px + 2vmin);    
    color : rgba(0, 0, 0, 0.75);
}
.notification {
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.time-notification {
    color: #fff;
    text-align: right;
    font-size: 12px;
}

.title-notification {
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
}

.description-notification {
    color: #fff;
    text-align: left;
    font-size: 16px;
}

.description-app {
    font-size: calc(10px + 2vmin);    
    color : rgba(0, 0, 0, 0.75);
}

.about {
    text-align: left;
    color : rgba(0, 0, 0, 0.75);
}

.history{
    width: 100%;
    margin:10px auto;
}

.title-issue{
    text-align: left;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: calc(10px + 3vmin);
}

.date-ticket{
    font-size: calc(15px + 6vmin);
    font-weight: 700;
    margin-top: -7px;
    margin-right: 5px;
}

.status {
    width: 30%;
}

.content-status {
    border:2px solid #0050A1;
    font-size: calc(7px + 1vmin);
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    padding:5px 0px;
}

.month-ticket {
    font-size: calc(10px + 1vmin);
    margin-right: 5px;
}

.Ticket{
    background-color: #0050A1;
}

.valueData {
    width: 40%;
    text-align: right;
    font-size: calc(10px + 3vmin);

}

.Profile{
    padding: 0px 25px;
    width: 70%;
    text-align: left;
}

.button{
    width: 100%;
    padding: 9px;
    font-size: calc(10px + 2vmin);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #0050A1;
    border: none;
}
.row-editProfile{
    margin:10px;
}
.editInput{
    width: 280px;
    height: 10px;
    margin: 0px auto;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(131, 126, 126) ;
    border-radius: 1px;
    margin-bottom:5px;
    padding:7px;
}
.sub-editProfile{
    color:rgba(98, 98, 98, 0.924);
    float: left;
    font-size: 12px;
}
.ganti-foto{
    font-size: 16px;
    padding-top: 30px;
}
.navbar-message {
    background-color: #141AA2;
    font-size: 22px;
    font-family: "Muli";
    width: 100%;
    color: #fff;
    padding: 16px 0px;
    position: fixed;
    z-index:3;
}
.navbar-allTicket{
    background-color: #141AA2;
    font-size: 22px;
    font-family: "Muli";
    width: 100%;
    color: #fff;
    padding: 16px 0px;
    position: fixed;
}
/* Page Antrian (ALL Ticket) */
.icon-category{
    width: 20%;
    margin-top: 15px;
    display: flex;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.desc-antrian{
    width: 45%;
    text-align: left;
    padding-left: 3px;
}
.desc-antrian .status{
    width: 125px;
    height: 15px;
    margin: 0px auto;
    border-radius: 50px; 
    text-align: center;
    margin-top: 10px; 
    float: left;
} 
.desc-antrian .category-status{
    font-size: 8px; 
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    padding-top: 2px;
}
.dasc-status{
    width: 20%;
    text-align:left;
    padding: 30px 30px;
}
.assign{
    font-size: 12px;
    font-weight: bold;
}
.category-antrian{
    width: 15%;
    text-align: left;
}
.category-antrian .tanggal{
    font-size: 10px;
    color: black; 
    letter-spacing: 0.2; 
    font-weight: bold;
    text-align:center;
}
.category-antrian .icon-priority{
    font-size:10px;
    color: black; 
    text-align: center;
    margin-top: 10px
}
.name-category{
    font-size: 10px; 
    color: #000; 
    text-align: center; 
    padding: 5px; 
    font-weight: bold; 
    margin-top: 8px;  
}
.imgPriority{
    width: 22px; 
    height: 22px; 
    margin: 0px auto;
}
.imgCategory{
    margin-top: 25%;
    width: 50%;
}
/* PAGE ALL TICKET */
.text-Allticket{
    margin-left: 5px; 
    padding: 10px;
    width: 100% }
.imgTicket{
    margin-top: -40px; 
    width: 100%;
    margin-left: 50%;
}
.imggTicket{
    top: 87px; 
    right: 65px;
    position:absolute;
}
.buttonfilter-ticket{
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px; 
    background-color: #fff; 
    color: #fff; 
    border-radius: 10%; 
    border: 1px solid #c6c6c6; 
}

.title-Queue{
    text-align: left; 
    margin-left: 5px;
    letter-spacing: 5px;
}
/* PAGE ARTICLE */
.ticket-article{
    width: 85%; 
    margin-top: 10px;
    padding-bottom: 10px; 
    display: flex; 
    margin: 0px auto;
}
.judul-topic{
    width: 30%; 
    text-align: left;
    font-size: 15px;
    color: #104FAD;
}
.judul-topic p{
    font-size: 15px;
    color: #104FAD;
}
.jdul-kategori{
    width: 30%;
}
.jdul-kategori p{
    font-size: 15px;
    color: black; 
    float: center;
}
.jdul-authors{
    width: 50%;
}
.jdul-authors p{
font-size:15px; 
color: black;
}
/* DETAIL ARTICLE */
.menu-detArticle{
    position: absolute; 
    top: 7px; 
    margin-left: 15px;
}
.bungkus-article{
    width: 90%;
}
.bungkus-article .jarak{
    width: 100%;
    margin-top: 100px;
}
.edit{
width: 100%; 
text-align: left; 
margin-top: 25px;
}
.menu-article{
    position: absolute;
    top: 7px;
}
.edit-article{
    width: 85%; 
    text-align: left;
}
.edit-article-judul{
    font-size: 18px; 
    padding: 0px; 
    margin: 0px; 
    font-weight: bold; 
    color: #A4A6B3;
}
.edit-article-judul2{
    font-size: 24px;
    padding: 0px;
    margin:0px; 
    font-weight: bold; 
    color: #000; 
    overflow-x: hidden;
    width: 300px;
}
.edit-article2{
    width: 15%;
    text-align: left;
}
.edit-articleIcon{
    width: 40px; 
    height: 40px; 
    border-radius: 10px; 
    padding: 5px;
    margin: 5px auto;
}
.kotak-detArticle{
    background-color: #F4F4F6; 
    width: 100%; 
    padding-top: 5px; 
    padding-bottom: 30px;
}
.p-kotak{
    margin: 17px;
    font-size:12px;
    color: #4F4F4F;
    padding:0px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: left;
}
.category-detArticle{
    margin-top:-15px;
    margin-bottom: -20px;
}
.date-detArticleP{
    margin: 17px; 
    font-size: 12px; 
    color: #4F4F4F; 
    text-align: left;
}
.category-detArticleP{
    margin: 17px; 
    font-size: 12px; 
    color: #4F4F4F; 
    text-align: right;
}
.detArticle-P1{
    font-size: 24px; 
    padding: 0px;
    margin: 17px; 
    color: #000; 
    text-align: left;
}
.detArticle-P2{
    font-size: 14px; 
    padding: 0px;
    margin: 17px; 
    font-weight: 400; 
    color: #000;
    text-align: left;
}
.description-detArticle{
    background-color: #fff; 
    width: 80%; 
    padding: 20px; 
    margin: 20px auto;
}
.title-kotakdetArticle{
    text-align: left;
    color: #000; 
    font-weight: bold;
}
.editor-lastEdit1{
    font-size: 14px; 
    font-weight: 300; 
    padding: 0px;
    margin: 17px; 
    color: #4F4F4F;
}
/* PAGE EDIT PROFILE */
.editProfile{
    background-color: #06d755;
} 
/* ticket_category */
.title-ticketCategory{
    text-align: left; 
    margin: 25px;
}
.p-titile1{
    font-size: 12px; 
    padding: 0px; 
    margin: 0px; 
    color: black;
} 
.p-titile2{
    font-size: 22px; 
    padding: 0px; 
    margin: 0px; 
    color: black; 
    font-weight: 700 ;
} 
.foto-pengim{
    width: 60px;
    background-color: #F1AEAE;
    height: 60px; 
    border-radius: 50%; 
    border: 1px solid; 
    margin: 0px auto; 
    overflow: hidden;
}
.nama-pengirim{
    width: 80%; 
    margin-left: 5px; 
}
.nama-pengirim .nama{
    font-size: 24px; 
    color: black; 
    font-weight: bold; 
    text-align: left;
}
.nama-pengirim .email{
    font-size: 20px; 
    color: black; 
    text-align: left; 
    }
.nama-pengirim .deskripsi-isi{
    width: 200px; 
    float: right; 
    margin: 20px ;
}
/* PAGE HOME */
.rowHome{
    
 width: 340px; 
 margin: 20px auto; 
 margin-top: -60px;
}
/* PAGE PROFILE */
.buttonLogout{
    width: 330px;
    padding: 9px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #0050A1;
    border: none;
}
.chatIcon{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    padding: 15px ;
    background-color: #0050A1; 
    border-radius: 50%
}
@media (min-width: 500px) {
    .navbar-message {
        width:414px;
    }
    .navbar-allTicket{
        width:414px;
    }
    .chatIcon{
        width: 50px;
        height: 50px;
        padding: 0px;
        transform: translateX(-50%);
        position: relative;
    }
    .chatIcons{
        margin-top: 13px;
    }
}